*
{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(39, 27, 0);
}
html, body
{
    height: 100%;
}
body
{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}
header
{
    text-align: center;
}
nav
{
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
a
{
    text-decoration: none;
}
main
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
#image img
{
    width: 100%;
    height: auto;
    transition: 300ms ease-in-out;
    object-fit: cover;
}
#image img:hover
{
    filter: brightness(50%);
    transition: 300ms ease-in-out;
}
#adjustContent
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#circles
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.circle
{
    border: 0.4vw solid rgb(53, 37, 0);
    border-radius: 50%;
    width: 15%;
    aspect-ratio: 1 / 1;

    /*centering the text*/
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2%;
    
    text-align: center;
}
#sponsors
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#sponsorButton
{
    border-radius: 2vw;
}

/*phone*/
@media only screen and (max-width: 320px){
    #circles   
    {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    #sponsors
    {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

/*tablets*/
@media only screen and (min-width: 600px){
    #circles   
    {
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }
    #sponsors
    {
        flex-direction: row;
        align-items: center;
        font-size: 20px;
        gap: 10px;
    }
}

/*laptops*/
@media only screen and (min-width: 1024px){
    #circles   
    {
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }
    .circle
    {
        width: 5%;
    }
    #sponsors
    {
        flex-direction: row;
        align-items: center;

        font-size: 40px;
        gap: 10px;
    }
    #sponsorButton
    {
        padding: 15px;
        font-size: 25px;
    }
    #image img
    {
        height: 400px;
    }
}